# --- KONFIGURASI BACKEND (CI4) ---
CI_ENVIRONMENT=development
database.default.hostname=
database.default.database=
database.default.username=
database.default.password=
database.default.port=3306

# --- KONFIGURASI FRONTEND ---
API_URL=