# --- KONFIGURASI CI4 (Backend) ---
CI_ENVIRONMENT=development
database.default.hostname=db-sijayam
database.default.database=
database.default.username=
database.default.password=

# --- KONFIGURASI FRONTEND ---
API_URL=http://localhost:8080